src/main/resources/wsdl/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- This WSDL file was automatically generated by 4D/15.0.4 on 2019-01-10T14:01:52+01:00-->
<definitions name="A_WebService" targetNamespace="http://www.4d.com/namespace/default" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.4d.com/namespace/default" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<message name="GetEvenementsRequest">
	</message>
	<message name="EventAddRequest">
		<part name="dateevent" type="xsd:string"/>
		<part name="objetvent" type="xsd:string"/>
		<part name="lieuevent" type="xsd:string"/>
		<part name="hdebvent" type="xsd:string"/>
		<part name="hfinvent" type="xsd:string"/>
		<part name="struserid" type="xsd:string"/>
	</message>
	<message name="GetEvenementsByIDRequest">
		<part name="UserID" type="xsd:string"/>
	</message>
	<message name="GetEvenementsByUserRequest">
		<part name="UserID" type="xsd:int"/>
	</message>
	<message name="UserAddRequest">
		<part name="nom" type="xsd:string"/>
		<part name="prenom" type="xsd:string"/>
		<part name="email" type="xsd:string"/>
	</message>
	<message name="GetUsersRequest">
	</message>
	<message name="GetEvenementsByDatesRequest">
		<part name="UserID" type="xsd:int"/>
		<part name="DateFrom" type="xsd:string"/>
		<part name="DateTo" type="xsd:string"/>
	</message>
	<message name="GetEvenementsResponse">
		<part name="ExitString" type="xsd:string"/>
	</message>
	<message name="EventAddResponse">
		<part name="CreateIsDone" type="xsd:string"/>
	</message>
	<message name="GetEvenementsByIDResponse">
		<part name="ExitString" type="xsd:string"/>
	</message>
	<message name="GetEvenementsByUserResponse">
		<part name="ExitString" type="xsd:string"/>
	</message>
	<message name="UserAddResponse">
		<part name="FourD_arg0" type="xsd:string"/>
	</message>
	<message name="GetUsersResponse">
		<part name="ExitString" type="xsd:string"/>
	</message>
	<message name="GetEvenementsByDatesResponse">
		<part name="ExitString" type="xsd:string"/>
	</message>
	<portType name="A_WebServiceRPC">
		<operation name="GetEvenements">
			<input message="tns:GetEvenementsRequest"/>
			<output message="tns:GetEvenementsResponse"/>
		</operation>
		<operation name="EventAdd">
			<input message="tns:EventAddRequest"/>
			<output message="tns:EventAddResponse"/>
		</operation>
		<operation name="GetEvenementsByID">
			<input message="tns:GetEvenementsByIDRequest"/>
			<output message="tns:GetEvenementsByIDResponse"/>
		</operation>
		<operation name="GetEvenementsByUser">
			<input message="tns:GetEvenementsByUserRequest"/>
			<output message="tns:GetEvenementsByUserResponse"/>
		</operation>
		<operation name="UserAdd">
			<input message="tns:UserAddRequest"/>
			<output message="tns:UserAddResponse"/>
		</operation>
		<operation name="GetUsers">
			<input message="tns:GetUsersRequest"/>
			<output message="tns:GetUsersResponse"/>
		</operation>
		<operation name="GetEvenementsByDates">
			<input message="tns:GetEvenementsByDatesRequest"/>
			<output message="tns:GetEvenementsByDatesResponse"/>
		</operation>
	</portType>
	<binding name="A_WebServiceBinding" type="tns:A_WebServiceRPC">
	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="GetEvenements">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#GetEvenements"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="EventAdd">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#EventAdd"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetEvenementsByID">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#GetEvenementsByID"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetEvenementsByUser">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#GetEvenementsByUser"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="UserAdd">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#UserAdd"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetUsers">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#GetUsers"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetEvenementsByDates">
			<documentation>no documentation is available</documentation>
			<soap:operation soapAction="A_WebService#GetEvenementsByDates"/>
			<input>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://www.4d.com/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="A_WebService">
		<documentation/>
		<port name="A_WebServicePort" binding="tns:A_WebServiceBinding">
			<soap:address location="http://localhost:/hello?wsdl"/>
		</port>
	</service>
</definitions>